print("Hello World")

In [2]:
print("A")

A

In [ ]:
#a,b,dd

#m:마크다운 y:코드

In [4]:
value=input("값을 입력해주세요")

값을 입력해주세요10

In [5]:
value

'10'

In [6]:
x=10

In [7]:
x

10

In [8]:
x,y,z=10,20,30

In [9]:
x

10

In [10]:
y

20

1.정수형

In [11]:
type(10)

int

In [12]:
type(10.0)

float

In [28]:
a=2
b=3
a,b

(12, 3)

In [29]:
a+b

15

In [30]:
a-b

9

In [31]:
a*b

36

In [32]:
a/b

4.0

In [33]:
a**b

1728

In [34]:
a//b #몫

4

In [35]:
a%b #나머지

0

In [26]:
print(a+b*a)
print(
(a+b)*a
)

8
10

## 연습문제0.

In [46]:
a, b = 7, 3.0

In [47]:
c=a//b

In [48]:
d=a%b

In [49]:
e=a**b

In [50]:
c,d,e

(2.0, 1.0, 343.0)

In [51]:
a, b = 7, 3.0
type(a), type(b)

(int, float)

In [52]:
c=int(b)
type(c)

int

In [53]:
c

3

In [54]:
d=float(a)
type(d)

float

In [55]:
d

7.0

## 연습문제2.

In [56]:
mike=80
judy=75
sera=100

In [62]:
mean=(mike+judy+sera)/3

In [63]:
int(mean)

85

## Bool(True,False)

In [68]:
a=True
a

True

In [69]:
type(a)

bool

## 비교연산자

In [71]:
a,b=1,2

In [72]:
print(a<b) #T
print(a<=b) #T
print(a>b) #F
print(a>=b) #F
print(a==b) #F
print(a!=b) #T

True
True
False
False
False
True

In [73]:
#and,or,not

## 연습문제3.

In [86]:
a=int(input("점수1: "))
b=int(input("점수2: "))
c=int(input("점수3: "))

점수1: 70
점수2: 80
점수3: 890

In [87]:
print(a>65 and b>65 and c>65)

True

In [395]:
# bool 형변환

In [396]:
bool(0), bool(1)

(False, True)

In [398]:
bool(0.0), bool(0.2)

(False, True)

In [399]:
bool("hello")

True

In [402]:
bool(" "), bool("")

(True, False)

In [404]:
bool({}),bool({'name':'hi'})

(False, True)

## 문자열 자료형

In [88]:
##파이썬에서 ' (작은따옴표)와 "(큰따옴표) 상관없음

In [91]:
quote1=("안녕")
print(quote1)
quote2=('안녕')
print(quote2)

안녕
안녕

In [93]:
quote3= '''안녕하세요.
저는 장세연입니다.'''
print(quote3)

안녕하세요.
저는 장세연입니다.

In [94]:
#뮨자열 연산
a = '사과'
b = '과일'

In [95]:
a+b

'사과과일'

In [98]:
a*3

'사과사과사과'

In [99]:
#escape code
quote3= '''안녕하세요.
저는 장세연입니다.'''
print(quote3)

안녕하세요.
저는 장세연입니다.

In [100]:
quote3

'안녕하세요.\n저는 장세연입니다.'

In [104]:
quote = '안녕하세요.\n저는 장세연입니다.'
print(quote)

안녕하세요.
저는 장세연입니다.

In [115]:
quote4 = '\'저는 장세연입니다.\''
print(quote4)

'저는 장세연입니다.'

In [116]:
quote4 = "'저는 장세연입니다.'"
print(quote4)

'저는 장세연입니다.'

## indexing slicing (중요)

In [119]:
quote = '안녕하세요.저는 장세연입니다.'
quote

'안녕하세요.저는 장세연입니다.'

In [122]:
quote[0]

'안'

In [123]:
quote[1]

'녕'

In [124]:
quote[-2]

'다'

In [125]:
quote[0:6]

'안녕하세요.'

In [126]:
quote[:12]

'안녕하세요.저는 장세연'

In [128]:
quote[6:]

'저는 장세연입니다.'

In [129]:
quote[::2] #스탭건너뛰면서

'안하요저 세입다'

In [130]:
quote[::-1]

'.다니입연세장 는저.요세하녕안'

## 연습문제4

In [137]:
a = "20190505chicken19000"

# code 작성
year = a[:4]
day = a[5:8]
menu = a[8:15]
money = a[15:]

# code 종료

In [138]:
print(year)
print(day)
print(menu)
print(money)

2019
505
chicken
19000

## 문자열 포맷팅

In [139]:
name = '장세연'
major = 'computer'

In [141]:
intro= '안녕하세요, %s입니다. 전공은 %s입니다.' %(name,major)
intro

'안녕하세요, 장세연입니다. 전공은 computer입니다.'

In [142]:
intro= '안녕하세요, {}입니다. 전공은 {}입니다.'.format(name,major)
intro

'안녕하세요, 장세연입니다. 전공은 computer입니다.'

In [143]:
pi= 3.14159
pi_def ='pi는 %f입니다'%pi
pi_def

'pi는 3.141590입니다'

In [145]:
pi= 3.14159
pi_def ='pi는 %.2f입니다'%pi
pi_def

'pi는 3.14입니다'

In [150]:
f'pi는 {pi}입니다'

'pi는 3.14159입니다'

## 연습문제6

In [157]:
a = "90:30:80"

# code 작성
math = int(a[:2])
english = int(a[3:5])
science = int(a[6:8])

In [158]:
average= (math+english+science)/3

In [167]:
'평균 점수는 %.2f입니다.'%average

'평균 점수는 66.67입니다.'

## 문자열 함수

In [177]:
quote= '안녕하세요.장세연입니다.'
quote

'안녕하세요.장세연입니다.'

In [178]:
len(quote)

13

In [179]:
quote.index('.')

5

In [180]:
"Apple".upper(), "Apple".lower()

('APPLE', 'apple')

In [181]:
quote.replace('.',"?")

'안녕하세요?장세연입니다?'

In [182]:
quote.count(".")

2

In [185]:
a=' 안녕하세요 '
a

' 안녕하세요 '

In [186]:
a.lstrip()

'안녕하세요 '

In [187]:
a.rstrip()

' 안녕하세요'

In [188]:
a.strip()

'안녕하세요'

In [191]:
a='90:30:50'
b=a.split(':')
b

['90', '30', '50']

In [194]:
fruit='apple banana'
fruit_list=fruit.split(' ')
fruit_list

['apple', 'banana']

In [196]:
",".join(fruit_list)

'apple,banana'

In [197]:
",".join(b)

'90,30,50'

In [210]:
#연습문제 6 다른방식으로 
a = "  90:30:80   "

a = a.strip() #공백제거
score_list=a.split(':') #쪼개기
score_list

['90', '30', '80']

In [204]:
#math = int(score_list[0])
#math,english,science = a.split(":")

In [207]:
math,english,science = list(map(int,score_list))
avg=(math+english+science)/3
print('평균 점수는 %.2f입니다.'%average)

평균 점수는 66.67입니다.

## LIST

In [211]:
a=[1,3.14,"apple",['a','b','c']] #다양한 데이터 타입 들어갈수 있음 
a

[1, 3.14, 'apple', ['a', 'b', 'c']]

In [212]:
len(a)

4

In [213]:
#리스트--값을 수정할수 있음
#튜플----              없음

In [214]:
b=[]
type(b)

list

In [215]:
c=list()
c

[]

In [216]:
#range
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [217]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [218]:
list(range(3,30,4)) #4씩 건너뛰면서

[3, 7, 11, 15, 19, 23, 27]

In [230]:
list1= list(range(3,30,4))
tuple1= tuple(list1)
tuple1

(3, 7, 11, 15, 19, 23, 27)

In [231]:
list1[1:5]

[7, 11, 15, 19]

In [232]:
list1[1:5:2]

[7, 15]

In [233]:
list1[0]='a'
list1

['a', 7, 11, 15, 19, 23, 27]

In [234]:
list1[1:4] = ["b",'c','d'] #바꿔버림
list1

['a', 'b', 'c', 'd', 19, 23, 27]

In [235]:
del list1[-1]

In [236]:
list1

['a', 'b', 'c', 'd', 19, 23]

In [237]:
'a' in list1

True

In [238]:
'e' in list1

False

In [239]:
list1+[10,20]

['a', 'b', 'c', 'd', 19, 23, 10, 20]

In [241]:
print(list1*3)

['a', 'b', 'c', 'd', 19, 23, 'a', 'b', 'c', 'd', 19, 23, 'a', 'b', 'c', 'd', 19, 23]

In [253]:
li=list(range(5))
li

[0, 1, 2, 3, 4]

In [254]:
li.append('a')    #요소가 추가됨 
li

[0, 1, 2, 3, 4, 'a']

In [255]:
li.extend(['b','c'])  #li+['b','c'] 와 같음 
li

[0, 1, 2, 3, 4, 'a', 'b', 'c']

In [256]:
li.append(['b','c'])  #이렇게 리스트 자체를 요소로써 추가함 
li

[0, 1, 2, 3, 4, 'a', 'b', 'c', ['b', 'c']]

## pop & remove

In [277]:
list1= list(range(5))
list1

[0, 1, 2, 3, 4]

In [278]:
a=list1.pop()  #빈칸이면 뒤에서부터 빠지는건가?
print(list1)
print(a)

[0, 1, 2, 3]
4

In [279]:
b=list1.pop(1)
print(list1)
print(b)

[0, 2, 3]
1

In [280]:
list1

[0, 2, 3]

In [281]:
list1.remove(2)
list1

[0, 3]

# insert

In [287]:
ll=[0, 3]

In [288]:
ll.insert(1,'a')
ll

[0, 'a', 3]

In [289]:
# count / sort / reverse / index

In [290]:
aa=[1,1,2,2,3,4,]
aa

[1, 1, 2, 2, 3, 4]

In [291]:
aa.count(1), aa.count(3)

(2, 1)

In [293]:
aa.index(2)

2

In [294]:
aa.reverse()
aa

[4, 3, 2, 2, 1, 1]

In [296]:
aa.sort()
aa

[1, 1, 2, 2, 3, 4]

In [297]:
aa.sort(reverse=True)
aa

[4, 3, 2, 2, 1, 1]

In [298]:
tuple1=tuple(aa)
tuple1

(4, 3, 2, 2, 1, 1)

In [299]:
#tuple1.append(3)    안됨
#tuple1[1]=4         안됨

# list 의 복사

In [300]:
aa=list(range(5))
aa

[0, 1, 2, 3, 4]

In [301]:
bb = aa
bb

[0, 1, 2, 3, 4]

In [302]:
bb.append(10)
bb[0] = 'a'
bb

['a', 1, 2, 3, 4, 10]

In [303]:
aa      #bb만 바꾸길 원했는데 aa까지 바뀌어버렸네?ㅜ

['a', 1, 2, 3, 4, 10]

copy

In [306]:
aa=list(range(5))
bb=aa.copy()
bb

[0, 1, 2, 3, 4]

In [308]:
bb.append(10)
bb[0] ='a'
bb

['a', 1, 2, 3, 4, 10]

In [309]:
aa

[0, 1, 2, 3, 4]

deepcopy   (( 2차원 이상의 리스트는 copy.deepcopy() 를 이용 복사 ))

In [322]:
###리스트 안에 리스트 있는경우 
list = [
    [1,2,3],[4,5,6],[7,8,9]
]

In [312]:
list2=list.copy()
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [313]:
list2[0][1] = 'a'
list2

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

In [314]:
list

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

In [315]:
####

In [323]:
import copy

In [325]:
list2=copy.deepcopy(list)
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [326]:
list2[0][1] = 'a'
list2

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

In [327]:
list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

 ## dictionary

In [328]:
a={}
type(a)

dict

In [337]:
profile = {                 #순서는 상관없음 
    'name': '장세연',
    'city': "Bundang",
    'height': '164'
}     
profile

{'name': '장세연', 'city': 'Bundang', 'height': '164'}

In [338]:
profile['name']

'장세연'

In [339]:
profile = dict(           #순서는 상관없음 
    name= '장세연',
    city= "Bundang",
    height= '164'
)
profile

{'name': '장세연', 'city': 'Bundang', 'height': '164'}

In [341]:
profile = dict(           #순서는 상관없음 
    name= '장세연',
    city= "Bundang",
    height= '164',
    friends=['minsoo','judy']
)
profile

{'name': '장세연',
 'city': 'Bundang',
 'height': '164',
 'friends': ['minsoo', 'judy']}

In [342]:
'장세연' in profile

False

In [343]:
'name' in profile  #딕셔너리는 '키'가 메인임

True

## dictionary 함수

In [345]:
profile['name']= '손기은'
profile

{'name': '손기은',
 'city': 'Bundang',
 'height': '164',
 'friends': ['minsoo', 'judy']}

In [347]:
profile['math_score']= 20
profile

{'name': '손기은',
 'city': 'Bundang',
 'height': '164',
 'friends': ['minsoo', 'judy'],
 'score': 20,
 'math_score': 20}

In [348]:
profile.setdefault('english_score', 70)
profile

{'name': '손기은',
 'city': 'Bundang',
 'height': '164',
 'friends': ['minsoo', 'judy'],
 'score': 20,
 'math_score': 20,
 'english_score': 70}

In [349]:
profile.setdefault('english_score', 50)     #setdefault 없다면 기본값으로 이걸로 해라 라는 뜻 /있으니까 안바뀜)
profile

{'name': '손기은',
 'city': 'Bundang',
 'height': '164',
 'friends': ['minsoo', 'judy'],
 'score': 20,
 'math_score': 20,
 'english_score': 70}

In [350]:
profile.update({
    'math_score':50,
    'height':170
})
profile

{'name': '손기은',
 'city': 'Bundang',
 'height': 170,
 'friends': ['minsoo', 'judy'],
 'score': 20,
 'math_score': 50,
 'english_score': 70}

In [351]:
profile.get('name')        #### get이 중요

'손기은'

In [353]:
print(profile.get('commment')) #에러나지않고 none값을 갖다줌

None

In [356]:
profile.get('comment',[])

[]

In [357]:
height = profile.pop('height')  #pop:꺼내고 리턴 
print(height)
print(profile)

170
{'name': '손기은', 'city': 'Bundang', 'friends': ['minsoo', 'judy'], 'score': 20, 'math_score': 50, 'english_score': 70}

In [359]:
profile.keys()

dict_keys(['name', 'city', 'friends', 'score', 'math_score', 'english_score'])

In [360]:
profile.values()

dict_values(['손기은', 'Bundang', ['minsoo', 'judy'], 20, 50, 70])

In [361]:
profile.items() #튜플로나옴

dict_items([('name', '손기은'), ('city', 'Bundang'), ('friends', ['minsoo', 'judy']), ('score', 20), ('math_score', 50), ('english_score', 70)])

In [362]:
profile.clear()
profile

{}

## set  (집합)

In [364]:
set1={1,2,3,3,3,3}   #중복이 없음 
set1

{1, 2, 3}

In [382]:
list1=[1,2,3,3,3,3]
list(set[list1])

TypeError: 'type' object is not subscriptable

In [378]:
set1={1,2,3}
set2={3,4,5}

In [372]:
set1|set2

{1, 2, 3, 4, 5}

In [373]:
set.union(set1,set2)

{1, 2, 3, 4, 5}

In [374]:
set1&set2

{3}

In [375]:
set.intersection(set1,set2)

{3}

In [383]:
set1-set2

{1, 2}

In [385]:
set.difference(set1,set2)

{1, 2}

In [387]:
set1^set2

{1, 2, 4, 5}

In [388]:
set.symmetric_difference(set1,set2)

{1, 2, 4, 5}

In [389]:
{1}<=set1

True

In [390]:
set1<=set2

False

In [392]:
set1.issubset(set2)

False

In [394]:
{1}.issubset(set1)

True